[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
hy = "*"
bottle = "*"
pytube = "*"
tornado = "*"
hymagic = "*"
ipdb = "*"
moviepy = "*"
click = "*"
pillow = "*"
skimage = "*"
pyyaml = "*"
scipy = "*"
mido = "*"
flask = "*"
scikit-image = "*"
pygame = "*"
moderngl = "*"
ported = "*"
moderngl-window = "*"

[requires]
python_version = "3.8"
